//query for 740px
@media(max-width:46.25em){
    .footer .container{
        grid-template-columns: repeat(3,1fr);
        
    }

}
//query for 550px;
@media(max-width:33.75em){
    footer{
        padding:3rem 5rem;
    }
    .footer .container{
        grid-template-columns: repeat(2,1fr);
        // place-items: center;
        justify-content: center;
        gap:3rem;
        
        
    }
   
}
//query for 615px;
@media(max-width:38.4375em){
    .sports-section h2.heading , .article .show-data h2.heading, .data h2.heading{
        font-size:4rem;
    }
  }
//query for 400px;
  @media(max-width:25em){
    .sports-section h2.heading , .article .show-data h2.heading, .data h2.heading{
        font-size:3rem;
    }
    .sports-section .data{
        max-width:40rem;
    }
    .article .container{
        padding:3rem 2rem;
        .show-data a{
        font-size:1.5rem ;
        }
    }
  }
//query for 660px;
@media(max-width:41.25em){
.movies-categories .grid{
    grid-template-columns:1fr;
}
}
//query for 545px;
@media(max-width:34em){
    .slogan-area .subheader{
    grid-template-columns:1fr;
    text-align: center;
    gap:3rem;
    }
    .data {
        button.trial{
        padding:2rem 2rem !important;
        font-size:2rem !important;
    }
}
}
//query for 330px;
@media(max-width:20em){
    .movies-categories .grid .image-box{
        width: 26rem;
        &:nth-child(1){
            .text{
            padding-top:8rem ;
        }
        }
    }

}


